
.banner__inner {
    padding: 120px 0;
    background:url(../../img/banner/banner_bg01.jpg) no-repeat center / cover;
    text-align: center;

    .title{
        font-size: 50px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 40px;
        color: #fff;
    }

    .desc{
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 70px;
        color: #fff;

        a{
            display: block;
            color: #fff;
        }
    }

    .small{
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 120px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
